version: "3.8"

services:
  catalogdb:
    container_name: catalogdb
    restart: always
    environment:
      POSTGRES_DB: catalogdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres 
    ports:
      - "5432:5432"
    volumes:
     - postgres_catalog:/var/lib/postgresql

  basketdb:
    container_name: basketdb
    restart: always
    environment:
      POSTGRES_DB: basketdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres 
    ports:
      - "5433:5432"
    volumes:
     - postgres_basket:/var/lib/postgresql

  distributedcache:
     container_name: distributedcache
     restart: always
     ports:
     - "6379:6379"

  catalogapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=catalogdb;Port=5432;Database=catalogdb;Username=postgres;Password=postgres; Include Error Detail=true
    depends_on:
      - catalogdb
    ports:
      - "6000:8080"
      - "6060:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
